.foooter{
    position:fixed;
    height:50px;
    background-color: red !important;
    bottom:0;
    width: 100%;
    color:white !important;
    display: flex;
    justify-content: center;
    align-items: center;
}