.nav{
    position:fixed;
    height:100px;
    background-color: red !important;
    top:0;
    width: 100%;
    color:white !important;
    display: flex;
    justify-content: center;
    align-items: center;
}